.userError {
  padding: 2rem;
  justify-self: center;
  background-color: #5c2154;
  color: rgb(206, 205, 205);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 2rem;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

th, td {
  border: 1px solid #fcfcfc;
  padding: 8px;
  text-align: center;
}

tbody {
    color: rgb(206, 205, 205);
}

th {
  background-color: #fc49e4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(117, 62, 115);
}

tr:last-child{
    background-color: #180115;
}